@model IEnumerable<GFLHApp.Models.ProducerOrders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProducerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.OrdersId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProducerOrdersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProducerOrdersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProducerOrdersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
