@model GFLHApp.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdersTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdersTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCollection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCollection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPostcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
